.content-wrapper {
    max-width: 960px;
}

.box {
    justify-content: center;
    align-items: center;
}

.centered-block {
    display: block;
    margin-top: auto;
    margin-bottom: 500px;
    max-height: 500px;
}



ul, li a {
    list-style: none;
}

